$color-base: #1C1B1A;

#msg_form #msg_input {
  background-color: $color-base !important;
  font-family: $base-font-family !important;
  font-size: 14px !important;
}

#primary_file_button {
  background-color: $color-base !important;
}

.c-message--dense .c-message__content_header {
  display: block;
}

[lang] .c-message, [lang] ts-message {
  font-size: 14px;
  letter-spacing: -0.43px;
}

[lang] .c-message__body, #convo_container ts-conversation ts-message.selected .message_content .message_body {
  line-height: 17px;
}

span.emoji {
  height: 14px;
  width: 14px;
}

span.emoji-outer {
  margin-top: 2px;
}

.c-mrkdwn__member--link, .c-mrkdwn__subteam--link {
  background: transparent;
}

.c-reaction, .c-reaction_add {
  background: transparent;
  border-color: #545454;
}

.c-message__reply_bar, .c-message__reply_bar:hover, .c-message__reply_bar--focus {
  border-color: #545454 !important;
}

.c-message__reply_bar:hover .c-message__reply_bar_view_thread, .c-message__reply_bar--focus .c-message__reply_bar_view_thread {
  background-color: transparent !important;
}
